[Desktop Entry]
Name=XShipWars universe editor
Name[pl]=Edytor wszechświata XShipWars
Comment=XShipWars universe editor
Comment[pl]=Edytor wszechświata XShipWars
Exec=unvedit
Terminal=false
Type=Application
# vi: encoding=utf-8
