[Desktop Entry]
Name=XShipWars client
Name[pl]=Klient XShipWars
Comment=XShipWars client
Comment[pl]=Klient gry XShipWars
Exec=xsw
Terminal=0
Type=Application
# vi: encoding=utf-8
