[Desktop Entry]
Encoding=UTF-8
Name=XShipWars client
Name[pl]=Klient XShipWars
Comment=XShipWars client
Comment[pl]=Klient gry XShipWars
Exec=xsw
Terminal=false
Type=Application
# vi: encoding=utf-8
